In [3]:
import pandas as pd

# Load the dataset
file_path = 'D:\\Data Science\\Datasets\\payroll_dataset.xlsx'
xls = pd.ExcelFile('D:\\Data Science\\Datasets\\payroll_dataset.xlsx')

# Display sheet names to understand the structure of the Excel file
sheet_names = xls.sheet_names
print(sheet_names)

['Employees', 'Departments']

In [4]:
# Load the data from each sheet into a DataFrame
employees_df = pd.read_excel(xls, sheet_name='Employees')
departments_df = pd.read_excel(xls, sheet_name='Departments')

# Display the first few rows of each DataFrame
print(employees_df.head())
print(departments_df.head())

   EmployeeID        Name DepartmentID  Salary    HireDate     Location
0           1  Employee 1         D001    6000  2020-01-31     New York
1           2  Employee 2         D002    6100  2020-02-29  Los Angeles
2           3  Employee 3         D003    6200  2020-03-31      Chicago
3           4  Employee 4         D004    6300  2020-04-30      Houston
4           5  Employee 5         D001    6400  2020-05-31     New York
  DepartmentID DepartmentName
0         D001             IT
1         D002             HR
2         D003        Finance
3         D004      Marketing

In [5]:
# Merge the Employees and Departments DataFrames on the DepartmentID column
merged_df = pd.merge(employees_df, departments_df, on='DepartmentID')

# Display the first 5 rows of the merged dataset
print(merged_df.head())

   EmployeeID        Name DepartmentID  Salary    HireDate     Location  \
0           1  Employee 1         D001    6000  2020-01-31     New York
1           2  Employee 2         D002    6100  2020-02-29  Los Angeles
2           3  Employee 3         D003    6200  2020-03-31      Chicago
3           4  Employee 4         D004    6300  2020-04-30      Houston
4           5  Employee 5         D001    6400  2020-05-31     New York

  DepartmentName
0             IT
1             HR
2        Finance
3      Marketing
4             IT

In [10]:
# Check for duplicates in the merged dataset
duplicates = merged_df[merged_df.duplicated()]
print("Duplicate Records:")
print(duplicates)

Duplicate Records:
Empty DataFrame
Columns: [EmployeeID, Name, DepartmentID, Salary, HireDate, Location, DepartmentName]
Index: []

In [11]:
# Remove duplicate records from the merged dataset
merged_df_no_duplicates = merged_df.drop_duplicates()

# Check for duplicates in the cleaned dataset
cleaned_duplicates = merged_df_no_duplicates[merged_df_no_duplicates.duplicated()]
print("Duplicate Records after Removal:")
print(cleaned_duplicates)

# Display the first 5 rows of the dataset after removing duplicates
print(merged_df_no_duplicates.head())

Duplicate Records after Removal:
Empty DataFrame
Columns: [EmployeeID, Name, DepartmentID, Salary, HireDate, Location, DepartmentName]
Index: []
   EmployeeID        Name DepartmentID  Salary    HireDate     Location  \
0           1  Employee 1         D001    6000  2020-01-31     New York
1           2  Employee 2         D002    6100  2020-02-29  Los Angeles
2           3  Employee 3         D003    6200  2020-03-31      Chicago
3           4  Employee 4         D004    6300  2020-04-30      Houston
4           5  Employee 5         D001    6400  2020-05-31     New York

  DepartmentName
0             IT
1             HR
2        Finance
3      Marketing
4             IT

In [12]:
# Calculate the IQR for the Salary column
Q1 = merged_df_no_duplicates['Salary'].quantile(0.25)
Q3 = merged_df_no_duplicates['Salary'].quantile(0.75)
IQR = Q3 - Q1

# Print the calculated IQR values
print(f"Q1: {Q1}, Q3: {Q3}, IQR: {IQR}")

# Define the bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Print the bounds for outliers
print(f"Lower Bound: {lower_bound}, Upper Bound: {upper_bound}")

# Filter out outliers
filtered_df = merged_df_no_duplicates[(merged_df_no_duplicates['Salary'] >= lower_bound) & (merged_df_no_duplicates['Salary'] <= upper_bound)]

# Display the first 5 rows of the dataset after handling outliers
print(filtered_df.head())

Q1: 8475.0, Q3: 13425.0, IQR: 4950.0
Lower Bound: 1050.0, Upper Bound: 20850.0
   EmployeeID        Name DepartmentID  Salary    HireDate     Location  \
0           1  Employee 1         D001    6000  2020-01-31     New York
1           2  Employee 2         D002    6100  2020-02-29  Los Angeles
2           3  Employee 3         D003    6200  2020-03-31      Chicago
3           4  Employee 4         D004    6300  2020-04-30      Houston
4           5  Employee 5         D001    6400  2020-05-31     New York

  DepartmentName
0             IT
1             HR
2        Finance
3      Marketing
4             IT

In [13]:
# Perform Min-Max normalization on the Salary column
min_salary = filtered_df['Salary'].min()
max_salary = filtered_df['Salary'].max()

filtered_df['Normalized_Salary'] = (filtered_df['Salary'] - min_salary) / (max_salary - min_salary)

# Display the first 5 rows of the dataset after normalization
print(filtered_df.head())

   EmployeeID        Name DepartmentID  Salary    HireDate     Location  \
0           1  Employee 1         D001    6000  2020-01-31     New York
1           2  Employee 2         D002    6100  2020-02-29  Los Angeles
2           3  Employee 3         D003    6200  2020-03-31      Chicago
3           4  Employee 4         D004    6300  2020-04-30      Houston
4           5  Employee 5         D001    6400  2020-05-31     New York

  DepartmentName  Normalized_Salary
0             IT           0.000000
1             HR           0.010101
2        Finance           0.020202
3      Marketing           0.030303
4             IT           0.040404

In [14]:
# Apply one-hot encoding to the Location column
encoded_df = pd.get_dummies(filtered_df, columns=['Location'])

# Display the first 5 rows of the updated dataset
print(encoded_df.head())

   EmployeeID        Name DepartmentID  Salary    HireDate DepartmentName  \
0           1  Employee 1         D001    6000  2020-01-31             IT
1           2  Employee 2         D002    6100  2020-02-29             HR
2           3  Employee 3         D003    6200  2020-03-31        Finance
3           4  Employee 4         D004    6300  2020-04-30      Marketing
4           5  Employee 5         D001    6400  2020-05-31             IT

   Normalized_Salary  Location_Chicago  Location_Houston  \
0           0.000000             False             False
1           0.010101             False             False
2           0.020202              True             False
3           0.030303             False              True
4           0.040404             False             False

   Location_Los Angeles  Location_New York
0                 False               True
1                  True              False
2                 False              False
3                 False              False
4                 False               True